<% @products.each do |product| %>
 <h2> <%= product.name %> </h2>

<div id="description-<%= product.id %>"><%= truncate(product.description) %></div>
<br>
<button class="js-more" data-id="<%= product.id %>">More Info</button>
<% end %>

<script type="text/javascript" charset="utf-8">

  $(".js-more").on('click', function() {

    var id = $(this).data("id")

    $.get("/products/" + id + "/description", function(data) {
      $("#description-" + id).text(data)
    })

    $.get("/products/" + id + "/inventory", function(data) {
        let inventory = 'Available'
        if (data === 'false') {
            inventory = 'Sold Out'
        }
      $('#description-' + id).append(`<h4>${inventory}<h4>`)
    })

  })

</script>

